[2011-04-22 10:41] wadmiraal opened #1 "On Windows"
Hi,

First, very interesting project. I'm sure going to give it a try. But I'm on a Windows machine, and <code>phr init</code> creates a <code>.phrozn</code> directory at the root of the current drive (<code>C:/.phrozn</code>) and not in the currently active directory. Any way around this problem ?

Calling <code>phr</code> directly didn't work from the command line by the way. I had to call <code

[2011-04-22 13:16] farazdagi commented on #1
Hi, Wouter.
Windows is unsupported platform at the moment (there couple of other things that will cause problems on Wins). I will make sure that WIns compatibility comes in 0.2-0.4, once general API stabilizes a bit.

[2011-04-23 06:17] wadmiraal commented on #1
Too bad.
But I do understand why :-). I'll have to give it a shot at work then one of
these days.
Bye,
Wouter

Le 2011 4 22 15:16, "farazdagi" <
reply@reply.github.com> a
crit :
Hi, Wouter.
Windows is unsupported platform at the moment (there couple of other things
that will cause problems on Wins). I will make sure that WIns compatibility
comes in 0.2-0.4, once general API stabilizes a bit.

##

[2011-04-27 11:25] thaberkern commented on #1
+1 for Windows-Support

[2011-07-01 07:55] icomefromthenet opened #5 "Default folder ./phrozn , problem for IDE"
Using IDE like netbeans having the default dir as ./phrozn causes hidden directory in the file explorer.

Good to have the folder setting as a config option.

[2011-07-01 14:13] farazdagi commented on #5
Agreed, will abstract the project folder, so that it is settable.

[2011-07-03 21:08] tobiassjosten opened #9 "Compiling to given directory"
Currently you should be able to compile your site to a specific directory using `phr up [src] [dst]`. I have two problems with this.

1) For some reason `../`is appended to the directory. So when I try `phr up .phrozn/ test/` it compiles to my current directory. To have to place the files in _test_ I must use `phr up .phrozn/ test/test/`.

2) Compiling to a different directory than the current one

[2011-07-03 21:22] farazdagi commented on #9
Agreed on both fronts. Will see if I can push it into hotfix release (0.2.1) next week.

Thanks!

[2011-07-03 21:25] tobiassjosten commented on #9
Awesome! I'll see if I can free up some time to try and help you out with some actual code, unless you beat me to it.

[2011-08-09 19:58] beberlei opened #10 "Add router"
I would like to have a router function in my twig (or other) layouts to generate links, like the one in symfony2 for example {{ path('entries-file-name') }}. it should then look at the permalink of that entry and link it.

[2011-08-09 20:23] beberlei opened #11 "/styles/ folder gets compiled"
I have stylesheet frameworks, for example blueprint that ship with images that are relative, therefore also in the styles folder and start getting compiled into the main directory.

[2011-08-09 20:28] beberlei opened #12 "Notice when calling phr update"
Warning: array_merge(): Argument #1 is not an array in /usr/local/php531/lib/php/Phrozn/Site/View/Base.php on line 341

Call Stack:
    0.0003     333004   1. {main}() /usr/local/php531/bin/phr:0
    0.0101     792984   2. Phrozn\Runner\CommandLine->run() /usr/local/php531/bin/phr:15
    0.1014    1435284   3. Phrozn\Runner\CommandLine->parse() /usr/local/php531/lib/php/Phrozn/Runner/CommandLine.p

[2011-08-09 20:30] farazdagi commented on #11
Since styles can be in LESS or similar format, we need to compile them, so I guess issue is not with /styles/ folder compiled per se, but with files ending up w/i main folder?

I can add extra pre-cautions that only files having certain extension are compiled, otherwise copied as is (media files right now are simply copied), will this solve your use case?

[2011-08-09 20:39] farazdagi commented on #12
can you, please, confirm if it is this happening for files that do not have front matter?

[2011-08-09 21:00] farazdagi commented on #12
https://github.com/farazdagi/phrozn/commit/c9403de62a7fbc5837353a86e8355278188fce0d should fix the issue. Hotfix released as ver. 0.2.1

[2011-08-12 17:48] beberlei commented on #12
I changed the permalink to be more simple so this doesnt occur anymore before, sorry :)

[2011-08-12 17:50] #12 closed, assigned to nobody

[2011-08-13 07:15] beberlei opened #13 "Make Frontmatter Vars available in Layout"
I want to put the title of a post into the title, but the variables are not defined in the layout.

[2011-08-13 07:22] beberlei opened #14 "Generic Provider to access entries"
To print summary pages, rss feeds and such i feel the need to access all the data from the other views in a template.

For example:

[code]

This is of limited use though, as i need them sorted by a FM variable:

[code]

[2011-09-04 18:34] dancrew32 commented on #13
I would also like to see this! Having the page title show up in layout is my main concern.

[2011-09-11 08:08] farazdagi opened #16 "Package Phrozn into phar"
Per Ralph's suggestion, create some Phing target to distribute Phrozn as phar archive.

[2011-09-17 16:13] farazdagi opened #19 "Make sure that phrozn is installable when PEAR is run form user's dir"
From chatlog:

srsly, is there no way of installing phrozn using pear without being root?
I've tried installing pear to my home dir (using debian) with no problems, and installing phrozn into that dir, but phr gives me a lot of wierd errors are the lib paths hard coded?

[2011-09-23 21:35] youngj commented on #13
I needed this too so I implemented it. A one-line change to the return statement in applyLayout in Site/View/Base.php is sufficient:

[code]

Then in the layout you can access any of the page variables (e.g. title) like this:

{{ entry.title }}

[2011-10-03 08:57] o opened #20 "Problems with skipping files and scripts folder"
Selam Victor,

Today i discovered two different problems with Phrozn. First of all, .DS_Store files not ignoring and copied when updating project.

Second,
I added a empty file named README to <code>scripts</code> folder, but phrozn writes <code>.phrozn/scripts/README</code> to root folder with name README, also <code>scripts</code> **(oh sorry not styles)** folder not be created.

Here is the scr

[2011-10-03 11:30] farazdagi commented on #20
Selam Osman!

Will look into ignore files issue.

Regarding README file in scripts ending up in root directory - nice catch. Basically default processor doesn't know where to put README file and fallbacks to rood directory, while it should fallback in directory original source file defined (in our case <code>/scripts/</code>).

When it comes to <code>styles</code> folder not being created, can you

[2011-10-03 11:48] o commented on #20
Selam Victor,

I updated my issue (dalgınlıkla yanlış yazmışım kusuruma bakma) when i add README file to scripts folder, README file copied to root folder and **scripts folder not be created**. And there is no problem with styles folder.

Görüşmek üzere
Osman

[2011-10-03 11:52] farazdagi commented on #20
Osman,
Ok I see now! Thanks for reporting, will make sure I update fallback policy - so that even non-script file defined in scripts folder, ends up in <code>scripts</code> directory on compilation.

Once again, thanks for the report!

Görüşmek üzere,
Victor

[2011-11-02 10:16] ajgarlag commented on #13
The patch proposed by youngj was merged into dev branch https://github.com/farazdagi/phrozn/pull/21.

This issue can be closed.

[2011-11-09 11:49] albeva opened #22 "Support for compass"
Would be nice to have support for sass/compass. On the homepage it says sass it supported, but I must be missing something?

[2011-11-09 12:44] albeva opened #23 "live updates"
I think it would be very nice to have live update support.

[2011-11-16 06:17] aaronshaf opened #24 "Simple way to get Phrozn to recognize .md as markdown?"
Currently it only seems to recognize .markdown, not .md

Any tips?

[2011-11-16 06:22] farazdagi commented on #24
This has been already reported (on IRC, and via email), and we definitely need this. Pushed this up in my priority list, will be available in next minor release.

[2011-11-16 06:29] aaronshaf opened #25 "Tag pages not generated automatically"
The documentation says, "Tag pages are generated automatically" (http://www.phrozn.info/en/documentation/front-matter/)

Unfortunately, I don't see any such thing generated. I am using this front matter:

tags:
- Evidence

... and it yields no tag pages :)

Any help is appreciated.

[2011-11-16 06:40] farazdagi commented on #25
All the infrastructure for generating tags is in place (front-matter is parsed ok, content providers can be used to inject list of tags into tag page etc) - but I still have to create bundle for outputting the tag page.

In mid-december I plan to release major milestone release - it will be the first release that can be used as complete substitution for blog (with all core features available like

[2011-11-16 06:43] aaronshaf opened #26 "Entry variables in layouts?"
I've set the title front layout variable in my entry, but neither {{ title }} nor {{ this.title }} seems to work in the default.twig layout. Any ideas?

[2011-11-16 06:53] farazdagi commented on #26
<code>{{ this.title }}</code> works both for FM in entries and in layout. Just tested with phr 0.3.2

[2011-11-16 07:04] aaronshaf commented on #26
I'm on 0.3.2 and I'm unfortunately not getting the same result. Here is my entry, layout, and rendered result:

https://gist.github.com/1369484

[2011-11-16 07:04] aaronshaf commented on #26
I tried "phr update", as well as clearing out public_html and re-running "phr up"

[2011-11-16 07:10] farazdagi commented on #26
Variables are scoped. You define var in entry, it is available in entry (and not available in layout). You may define <code>title</code> in layout, it will be available in layout, not in entries.

Twig has blocks for achieving what you are trying to do - you define <code>{% block title %} in layout {% endblock %}</code> and then redefine it in your entries.

You can find more examples in unit test

[2011-11-16 07:37] aaronshaf commented on #26
Let me put it this way: Is there a way to customize the title in the layout using the variable set in the FM of the entry?

I'd like to use Markdown in my entries anyway, so block seem out of the question?

[2011-11-16 07:45] farazdagi commented on #26
You have a point here - I will look into passing entry front-matter into layout.

Thanks for pushing the issue forward - it is easy to implement, and features real use case.

For time being, please, continue w/o modifying the layout, and I will make sure that this request ends up in next minor release as well.

[2011-11-16 07:48] aaronshaf commented on #26
Perhaps this patch already fixed the problem?

https://github.com/farazdagi/phrozn/pull/21

[2011-11-16 07:52] aaronshaf commented on #26
Yup, that patch does the trick, letting me use {{entry.title}} in the layout

[2011-11-16 07:56] farazdagi commented on #26
Seems I manage too many projects at the same time. Merged the thing just couple of weeks ago. Let me release it as a minor version immediately - so that everybody who spots this discussion can use it from master branch.

[2011-11-16 07:56] #26 closed, assigned to nobody

[2011-11-16 08:01] aaronshaf commented on #26
Thanks much!

[2011-11-16 08:09] farazdagi commented on #13
Available as of version 0.3.3
Thanks for the patch!

[2011-11-16 08:09] #13 closed, assigned to nobody

[2011-11-19 03:45] farazdagi opened #27 "Default.layout not used"
Whenever layout is changed, somewhere in files all consequent requests are rendered from there too.
This happened on official site - when documentation rendered incorrectly if <code>layout: default.twig</code> not provided in every file.

[2011-11-19 04:48] farazdagi commented on #27
Issue was due to front matter extraction.
If you need to include <code>---</code> in your entries do it like this: <code>---& nbsp;</code>

[2011-11-19 04:48] #27 closed, assigned to farazdagi

[2011-11-26 12:19] resmo commented on #24
+1

[2011-11-28 15:03] resmo commented on #25
Another feature request is RSS/ATOM support, and sitemap.xml.

RSS e.g. with keyword

[code]

and sitemap.xml shoud just look at the permalink config of the files and generate a sitemap of it.

[2012-01-22 16:18] farazdagi opened #31 "travis-ci integration"

[2012-01-23 12:42] farazdagi opened #32 "Add passthru option to front matter"
- when `skip` option is set file is skipped completely
- when `ignore` or `passthru` or `noprocessor` is set file is simply copied

Probably petter solution will be to allow to switch processors dynamically, using `processor` option, thus overriding processor guessed from extension.

[2012-01-24 11:42] farazdagi opened #33 "migrate to Console_Color2"
"pear/Console_Color" is deprecated in favor of "pear/Console_Color2" so Phrozn needs to use it instead of Console_Color

[2012-01-30 17:18] farazdagi opened #34 "Add phrozn to http://packagist.org"

[2012-02-03 21:15] daveWid opened #35 "Include Markdown Extra"
It would be nice to have Markdown Extra instead of the regular Markdown parser. It adds some additional functionality (http://michelf.com/projects/php-markdown/extra/)

Here is a download link - http://michelf.com/docs/projets/php-markdown-extra-1.2.5.zip

[2012-02-03 21:31] farazdagi commented on #35
Thanks, I agree Markdown Extra parser is a better choice. Will update the parser for upcoming release.

[2012-02-03 21:50] farazdagi opened #36 "Make sure that ? is an alias for help"
- in [docs](http://www.phrozn.info/en/documentation/cli-phr/#help) `phr ? help` is featured, while only `phr help help` works
- previously it worked, so functionality needs to be restored

[2012-02-03 21:51] farazdagi commented on #36
- interestingly enough, ? work with bash shell and fails only with zsh

[2012-02-05 11:49] farazdagi commented on #24
.md processor has been added (f361d8abe6de93925f28f1c25d43d2cb2ce0f9fa) to `dev` branch. Will be available with 0.5 version release.

[2012-02-05 11:49] #24 closed, assigned to nobody

[2012-02-05 20:10] jeanmichelcote opened #39 "Phrozn/Autoloader.php"
Trying installing Phrozn on a dreamhost shared account and here is the message from the terminal:

Warning: require_once(Phrozn/Autoloader.php): failed to open stream: No such file or directory in /home/myuser/pear/phr on line 12

Fatal error: require_once(): Failed opening required 'Phrozn/Autoloader.php' (include_path='.:/usr/local/lib/php:/usr/local/php5/lib/pear') in /home/myuser/pear/phr on l

[2012-02-11 08:39] farazdagi opened #40 "Create small tutorial on how to use @import in LESS"
- see [Mixin docs](http://leafo.net/lessphp/docs/#mixins)

[2012-02-11 08:43] treffynnon commented on #5
There are easier ways around this problem by configuring your IDE:
- http://mrhaki.blogspot.com/2008/06/display-hidden-dot-files-and.html
- https://www.codemagi.com/blog/post/195

[2012-02-11 08:52] farazdagi commented on #5
Tend to agree with Simon - it is easier to configure the IDE.

However, the argument of having the project folder somewhere besides `.phrozn` is still valid (and actually all the abstractions for such shift are in place, for eg: project path is abstracted as [Phrozn\Path\Project](https://github.com/farazdagi/phrozn/blob/master/Phrozn/Path/Project.php) object, so that refactoring shouldn't be that

[2012-02-11 08:56] farazdagi commented on #23
@import has provided sample `phr-server` implementation, once we fully integrate it, live updates would be trivial to implement

[2012-02-11 09:08] farazdagi commented on #39
- I guess it is known issue #19
- will need to look into it as it has been sitting in todo list for ever

[2012-02-11 09:08] #39 closed, assigned to nobody

[2012-02-11 09:10] farazdagi opened #41 "Make sure that phr-dev defaults to phr in UTs"
- in order to distinguish between current stable and dev version of Phrozn, UTs are run using phr-dev executable
- if phr-dev is undefined in your /usr/bin, fallback to `/usr/bin/phr`

[2012-02-11 09:19] farazdagi opened #42 "Enable rst processor"
- Bundle provided and working fine
- make sure that bundle is recognized in the next release

[2012-02-12 11:28] farazdagi opened #43 "Make sure that config.yml vars are available in layouts"
- currently config.yml vars are directly available via `this.varname` in any entry
- same functionality needs to be exposed in layout files

[2012-02-15 13:34] maxailloud commented on #25
Is this feature available or not ?

If so this issue can be close, isn't it ?

[2012-02-15 14:28] maxailloud commented on #14
Maybe a twig filter/function can do this.

[2012-03-09 05:14] trq commented on #5
I very much agree that you should be able to configure your project path and indeed phr up's SRC argument should accept this directory.

Currently I have something like:

[code]

The src directory is a git repo containing the source for my site, while htdocs is a symlink to an apache vhost where the site resides. This is built using....

[code]

It seems silly that my git repo should contain a sin

[2012-04-10 17:43] Spone commented on #1
Hi,
how is Windows support, now?

[2012-04-11 06:14] wadmiraal commented on #1
Using "php -f phr init / up / etc" works fine now. Still can't use phr directly though.

[2012-04-11 10:21] Spone commented on #1
I'm in my project folder, `php -f phr init` throws the following error: `Could not open input file: phr`
I use XAMPP on Windows 7 and I installed Phrozn using PEAR.
Any idea?

[2012-04-11 11:35] wadmiraal commented on #1
Yep, sorry. You must type "php -f C:\path\to\phr init" for it to work. I put mine in C:\php\phr,so I don't have to type much ;-).

[2012-05-17 18:44] Abouie commented on #22
Has Compass support been added?

[2012-05-23 09:46] benjaminach opened #46 "No releases available"
Hello,

When i want to install the beta package i have an error :

[code]

Is there a problem with my installation or you repository ?

[2012-05-23 10:17] farazdagi commented on #46
Just tried it - repository works ok and I was able to install on my Mac box.
Another issue you might encounter is that I never tested Phrozn on Wins, so phrozn's support of this platform is limited (it is probably unrelated to current issue, but even if you'd be able to install,  phr performance is untested).

[2012-05-23 10:17] #46 closed, assigned to nobody

[2012-05-23 10:50] benjaminach commented on #46
Ok,

I have fix my issue.

Clear the temp/cache folder of pear in C:\Users\USER\AppData\Local\Temp\pear

[2012-05-26 13:49] elroyjetson opened #47 "Exclude Directories"
I know you can exclude files in the config.yml, but it doesn't seem to exclude directories.  The problem I have is that I use git to maintain some of my files, and it processes the entire .git folder.  I would prefer to just ignore this folder, but haven't found a way.

Is this possible in the config.yml?

[2012-05-27 08:15] farazdagi commented on #47
I will look into excluding directories, in the meantime you can put your phrozn project (.phrozn directory) near .git (in the same folder) and thus be able to store it inside the repo (I generally exclude generated files with .gitignore as they can always be regenerated).

[2012-07-29 13:05] jaywilliams commented on #47
+1

[2012-08-29 16:44] markomarkovic opened #50 "Files that go to root folder but shouldn't be parsed"
How do I include files that go to the root folder of the generated site, for example `robots.txt` or `apple-touch-icon.png`?

[2012-09-04 10:20] bladeofsteel opened #51 "Unittest failed"
"Out of the box" test fails. Need instructions for setup the environment for the unittests.

[2012-11-10 03:58] Grummfy opened #54 "a way to configure processor?"
Hello,
I think it can be intresting to configure twig or other processor. Activating or adding extensions (included cutom one),

[2012-11-10 15:50] Grummfy commented on #51
On dev branch :

I read travis to have some clue about this
- you need pear with pear/Console_CommandLine, pear/Console_Color2-alpha, pear/PHP_CodeSniffer
- run following commands
  - PATH=$PATH:$(pwd) ; export PATH ; ln -s $(pwd)/bin/phr.php $(pwd)/phr-dev
  - phpunit --configuration tests/phpunit.xml

But even after that phpunit failed with

[2012-11-10 16:13] Grummfy commented on #51
I found some clue to resolve this mainly is version of lib that have deprecated call or code that have been refactored in these libs
I will try to solve this : https://github.com/Grummfy/phrozn/tree/fixPhpUnitTest

[2012-11-10 16:51] farazdagi commented on #51
Jonathan, it will be really good if you can fix those issues.

[2012-11-11 21:48] jeremymturner commented on #19
I was able to install PEAR and Phrozn as a non-root user on Dreamhost's shared web space.

This link is a good reference: http://wiki.dreamhost.com/PEAR#Installing_Packages

I had to modify ~/pear/phr and ~/pear/phrozn to include 'php/Phrozn/Autoload.php' instead of Phrozn/Autoload.php. Also, I had to add the following section:

set_include_path(
    get_include_path() .
    PATH_SEPARATOR . '/hom

[2012-11-13 22:08] Grummfy commented on #51
Here is my fix : https://github.com/farazdagi/phrozn/pull/57
I think it's better than you fix the failure test (I don't know why they don't work so ...)

[2012-11-14 08:31] bladeofsteel commented on #51
@Grummfy I try your branch and still got many failed tests

PHPUnit 3.7.1 / Php 5.3.10

[2012-11-14 09:08] Grummfy commented on #51
I have 16 failure,
But perhaps you should list the pear package version you have installed....

[2012-11-14 09:31] bladeofsteel commented on #51
Here is:

# Installed packages, channel __uri:

(no packages installed)

# Installed packages, channel components.ez.no:

Package      Version State
Base         1.8     stable
ConsoleTools 1.6.1   stable

# Installed packages, channel dist.photon-project.com:

Package Version State
photon  0.2.0   beta

# Installed packages, channel doc.php.net:

(no packages installed)

# Installed packages, cha

[2012-11-14 14:11] farazdagi commented on #51
Hi guys!
@Grummfy I will look into #57 and review the rest of failing cases. Thanks for the pull request!

[2013-01-05 19:19] Pawka commented on #19
Maybe it would be good idea add Console_CommandLine and Console_Color to vendors dir? Then Phrozn could be used instantly just by fetching code from Github.

[2013-01-06 16:26] Pawka opened #59 "Switch to Composer"
# Problem
- Vendors code should not be stored on repository.
- Console_CommandLine and Console_Color2 are not included to Vendors and must be installed globally on the system.
# Suggestion
- Prepare Phrozn to be installed via Composer (we'll switch to Composer autoloader instead of current one).
- Composer will download all dependencies and Vendors code will be removed from source.
- Phrozn will r

[2013-01-06 18:45] farazdagi commented on #59
Povilas, yep agree with a problem statement and proposed resolution. If you have time, feel free to take care of implementation, and I will merge on pull request.

[2013-01-07 05:57] Pawka commented on #59
Ok. I'm working on this.

[2013-01-15 11:25] Pawka commented on #33
As I noticed you are already using Console_Color2, so this issue should be closed.

[2013-01-15 11:26] Pawka commented on #16
:+1:

[2013-01-15 11:30] Pawka commented on #19
Related #59 and #60. After switch to Composer, installation via pear will not be required.

[2013-01-15 14:26] farazdagi commented on #59
Povilas, great work! Reviewing your pull request, will merge today.

[2013-01-18 12:49] farazdagi commented on #59
done: 259a069

[2013-01-18 12:49] #59 closed, assigned to nobody

[2013-01-18 13:48] farazdagi opened #61 "Make sure that sample Primarchs providers is located"
- When compiling recent version of site, Primarchs content provider was not located
- Find out what is wrong (most probably some path fix required)

[2013-01-18 13:56] farazdagi commented on #61
won't fix, bogus report

[2013-01-18 13:56] #61 closed, assigned to nobody

[2013-01-18 14:17] Pawka commented on #19
Not actual anymore after #60 was merged.

[2013-01-18 17:24] farazdagi commented on #19
@Pawka Yep, Composer as such supports installation into custom directory. Here is [updated installation instructions](http://www.phrozn.info/en/installation/#composer).

[2013-01-18 17:24] #19 closed, assigned to farazdagi

[2013-01-18 17:42] farazdagi commented on #51
@bladeofsteel @Grummfy should be fixed now: https://travis-ci.org/farazdagi/phrozn

[2013-01-18 17:42] #51 closed, assigned to nobody

[2013-01-18 17:47] farazdagi opened #64 "Get rid of PEAR builder artifacts"
- Now deps are managed via Composer, remove `build` directory

[2013-01-18 18:22] bladeofsteel commented on #51
I still got error :(

[code]

[2013-01-18 18:43] farazdagi commented on #51
What version of PHP you are on? PHP 5.4 will fail with this error. PHP 5.3 should work ok.

[2013-01-19 07:16] bladeofsteel commented on #51
Yes, I test on 5.4.
Do you know how to fix this?

[2013-01-19 08:04] farazdagi commented on #51
Switch to PHP 5.3? :))

If srsly, I will look into Outputtter issue, but this is not a priority (does bin/phr.php work? I suppose it should as Outputter was written for UTs, it should prevent main utility to work).

[2013-01-19 08:05] farazdagi commented on #33
@Pawka yep, exactly :))

[2013-01-19 08:05] #33 closed, assigned to farazdagi

[2013-01-19 08:27] bladeofsteel commented on #51
LOL

I`ll check it today

[2013-01-19 08:41] wdalmut commented on #51
Take a look the pull #65 I have also fixed tests on Outputter for PHP 5.3

[2013-01-19 09:36] farazdagi commented on #51
@wdalmut Aha, I see (suppose you refer to 47800f79cf3afff33990dd31a99f8e7bba882939). Great, will now work on reviewing and merging it, and then add PHP 5.4 to travis.yml so that we have that version covered too.

Good work btw on `phr single`!

[2013-01-19 10:50] farazdagi commented on #51
@bladeofsteel PHP 5.4 should not be problem anymore (thanks to @wdalmut).

Travis-CI tests: https://travis-ci.org/farazdagi/phrozn/jobs/4246725

[2013-01-19 10:51] farazdagi commented on #41
already fixed

[2013-01-19 10:51] #41 closed, assigned to farazdagi

[2013-01-19 10:52] farazdagi commented on #31
Travis-CI is integration complete: https://travis-ci.org/farazdagi/phrozn

[2013-01-19 10:52] #31 closed, assigned to nobody

[2013-01-19 10:53] farazdagi commented on #36
won't fix: not a priority, works in bash, `phr help help` can be used

[2013-01-19 10:53] #36 closed, assigned to farazdagi

[2013-01-19 10:56] farazdagi commented on #34
done: https://packagist.org/packages/farazdagi/phrozn

[2013-01-19 10:56] #34 closed, assigned to farazdagi

[2013-01-19 11:00] bladeofsteel commented on #51
it is, confirm

time to make phrozn engine for the blog? ;)

[2013-01-19 11:59] farazdagi commented on #51
@bladeofsteel yep, need to tackle the #14 now

[2013-01-19 18:19] Pawka opened #66 "Autoloader not found when phrozn installed as project via Composer"
**Use case:**
- Install phrozn via composer (add farazdagi/phrozn as requirement to composer.json)
- Run composer.phar install
- Try call php vendor/farazdagi/phrozn/bin/phr.php

All dependencies will be downloaded to project vendor dir (instead of phrozn vendor dir) and phrozn is unable to find Composer autoload.php file.

**Fix:**
Phrozn searches for `vendor/autoload.php` file in phrozn dir. If

[2013-01-21 13:47] farrelley opened #68 "PEAR_Exception Class Not found"
The PEAR_Exception class is not found.  It need to be added to the composer file somehow.  It's extended through Console_CommandLine_Exception

PEAR_Exception GitHub repo is https://github.com/pear/PEAR_Exception/

Will issue PR if I can figure out how to get this in.

[2013-01-21 14:02] farazdagi commented on #68
Yep, indeed. Will also meditate on what is the best way to include it :)

PR is always welcome!

[2013-01-21 14:48] farrelley commented on #68
One way is to just get Exception stuff from github with package type zip.

[code]

then Include require:

[code]

All it needs to do is to be autoloaded correctly.

[2013-01-21 16:09] farazdagi commented on #68
Seems quite a good solution to me. Pls, feel free to file the pull request.

[2013-01-23 12:26] Pawka commented on #68
It is Console_CommandLine bug. I'm currently fixing phrozn-related pear repositories and it will be enough just to have Console_CommandLine in Phrozn/composer.json. Not sure how long it will take until they'll accept all my PRs.

@farazdagi This would be temporary fix. I would suggest to wait until PEAR repos will be fixed and do not include this PR.

[2013-01-23 12:31] farrelley commented on #68
@Pawka That's probably the best way to fix this.

[2013-01-23 12:44] farazdagi commented on #68
@Pawka @farrelley Agreed, let's wait and see when PEAR component is fixed.

[2013-01-23 12:44] #68 closed, assigned to nobody

[2013-01-23 12:47] fgrehm commented on #68
hey @farrelley, would you mind pasting your composer.json down here?  wasn't able to get it working
I really wanted to try out phrozn but it's been I while since I last used PHP and composer is brand new to me :p

tks!

[2013-01-23 12:50] farrelley commented on #68
@fgrehm - https://github.com/farazdagi/phrozn/issues/68#issuecomment-12500681  I just added that.  Just need to add in the autoloading to psr-0 section.  That's the work around.

[2013-01-23 13:08] fgrehm commented on #68
@farralley tks for the answer but I wasn't able to get it working
here's what I tried:
  https://gist.github.com/8f7c995b344a339dc250

[2013-01-23 13:21] Pawka commented on #68
@fgrehm Add `"pear/Pear_Exception": "dev-master"` part to `required` instead of `autoload`.

[2013-01-26 20:18] marclaporte opened #69 "Please add a tage to the Ohloh.net record"
This is good:
https://www.ohloh.net/p/phrozn

Can you add this tag? https://www.ohloh.net/tags/static_site_generator

Thanks!

[2013-01-26 21:47] farazdagi commented on #69
Done! Thanks for the suggestion.

[2013-01-26 21:47] #69 closed, assigned to nobody

[2013-01-29 10:23] wdalmut opened #71 "Phrozn - Composer Style install tool"
Hi guys,

what do you think about using `phar` as default way to use phrozn? If we use an approach similar to composer install script could be more simple to start a project with Phrozn.

Look this:

[code]

or with an existing project

[code]

It is simple and looks great imho...

The `phrozn-site` can host the installer (I propose a PR later...)

I also attach the composer install script refacto

[2013-01-29 11:41] Pawka commented on #71
:+1: I have the same vision. Phrozn should work as stand alone tool which should not be installed on system globally. We have already achieved this after moving to Composer. But having phar would be even better. I had plans to work on this issue someday, but while somebody "having plans", somebody else is working already :-) Thumbs up!

P.S. Also need to implement phar lifetime as Composer has. Bu

[2013-01-29 13:29] wdalmut commented on #71
Sounds good! ;-)

I propose the phar archive on PR #70

good listen that we have the same vision.

[2013-01-30 07:16] bladeofsteel commented on #71
Good idea! I like it

[2013-02-05 16:57] alexgieg commented on #9
Hi. I'm experiencing this problem in 0.5.3 beta. `phr up src dest` appends "/.." to `dest`, generating files in `src/../`. The workaround is to use something like `phr up src dest/discarded_word`.

Edit: Moved `--regen` issue to #76.

[2013-02-05 19:24] wdalmut commented on #9
Hi @alexgieg,

can you explain more what you are doing? In my env static generation works fine,

[code]

Effectively `--regen` seems not working properly.

[2013-02-05 19:41] wdalmut commented on #9
This could be related to #75

[2013-02-06 13:06] alexgieg commented on #9
Ah! I got what was wrong. Instead of using `src`, my script was referring to `src/.phrozn`:

With a relative destination path:

[code]

(Followed by several error messages due to the root filesystem being read-only.)

With an absolute destination path:

[code]

I guess a sanity check with an error message would solve this nicely, but it'd be more interesting if the `src` folder could actually be a

[2013-02-06 13:32] wdalmut commented on #9
I think that this issue is absolutelly related to PR #75 that should simplify the project generation.

The regenerate option not working I think that we need to open a dedicated issue for this problem in order to simplify issues management.

[2013-02-12 22:38] alexgieg commented on #9
Hi! Sorry for the delay. True enough, I'm opening a new issue about the regen not working: #76.

[2013-02-12 22:52] alexgieg opened #76 "-R/--regen flag doesn't work"
Splitting a new issue from my #9 comments:

`phr up --regen src dest/something` isn't actually erasing contents from `src`. If I delete a file, let's say `entries/to_delete.twig`, then use the `--regen` command, I'd expect the previously generated `to_delete.html` file to be deleted. However, it stays there. A simple `phr up src dest/another_thing` also doesn't delete it:

[code]

So, short from m

[2013-02-23 21:13] mikehaas763 opened #78 "Is PEAR supposed to be required?"
Following the websites "Installation" page, I was getting an exception when trying to run phr relating to a file not being found. I figured out that when I installed PEAR (sudo apt-get install php-pear) it would then work. Aren't the PEAR dependencies supposed to be included in the phrozn package? If PEAR is a dependency, it should be included on the installation page.

[2013-02-24 01:29] mikehaas763 opened #79 "Support for Scss"
Phrozn currently uses leafo's phpless compiler. They also have a very similar Scss compiler. It should be pretty trivial to add support for it.

[2013-02-24 01:39] farazdagi commented on #78
This should not be an issue once #74 hits the master branch (should be next week when I plan to go through some due pull requests and issues).

[2013-02-24 01:39] #78 closed, assigned to nobody

[2013-02-24 01:42] farazdagi commented on #79
Thanks, me or other contributors will definitely look into that at some point.

If you want this to be included sooner though, please, go ahead and provide some code via pull request - will make sure I review and merge it promptly.

[2013-02-24 01:44] mikehaas763 commented on #79
I'm actually working on that right now :)

[2013-02-24 04:16] mikehaas763 commented on #79
This has been added: see #80

[2013-03-13 07:36] #66 closed, assigned to nobody

[2013-03-14 17:46] farazdagi commented on #5
This issue should be resolve now. Thanks @wdalmut for PR.

[2013-03-14 17:46] #5 closed, assigned to farazdagi

[2013-03-14 17:47] farazdagi commented on #9
Compiling into custom directory is now implemented. And since -R/--regen issue got its own ticket, closing this one.

[2013-03-14 17:47] #9 closed, assigned to farazdagi

[2013-03-14 17:48] #16 closed, assigned to nobody

[2013-03-14 17:49] #40 closed, assigned to nobody

[2013-03-14 18:10] farazdagi commented on #20
Fixed, thanks to @sumpygump PR.

[2013-03-14 18:10] #20 closed, assigned to farazdagi

[2013-03-14 18:18] #64 closed, assigned to farazdagi

[2013-03-21 06:46] Pawka commented on #79
@farazdagi This issue should be closed already.

[2013-03-21 08:53] #79 closed, assigned to nobody

[2013-03-26 14:38] furyfire opened #86 "Phrozn installed with Composer still requires PEAR to be installed"
- Installed PHP5.4.4 on Debian (RaspberryPi)
- Installed Composer
- Init a new Phrozn composer project

Any attempt to run phrozn resulted in a php error relating not being able to locate PEAR/Exception.php

Pear/pear_exception was correctly installed from composer

Installing PEAR systemwide resolved it

[2013-05-14 03:41] icomefromthenet opened #88 "Composer Autoloader will not load plugins from project Directory."
Composer Autoloader will not load plugins from project Directory, when using phrozn from global install and not a fork of the main repo.

Looks like this feature was removed when switch was made to use composer as the exclusive autoloader, as this did work when Zend2 was in use.

[2013-05-15 09:33] darkstar42 commented on #88
I guess, we have the same troubles: Trying to use example content provider from the Phrozn Documentation Site "Primarchs". We put a "BLUB;" into Primarchs.php, just to look, if Primarchs.php gets executed. No failures/errors occured.

[2013-05-16 13:25] icomefromthenet commented on #88
I fixed my issue by creating a `PhroznPlugin` directory under  project/.phrozn/plugins/, the skeleton is missing this subdirectory and not noted in the docs to add this subdirectory.

[2013-06-14 20:59] gbirke commented on #88
I fixed the issue by putting my plugin in `project/.phrozn/plugins/PhroznPlugin/Provider`. Still, it's not very convenient.

[2013-08-06 07:12] micheas opened #90 "Sample site does not compile if src directory is not ."
the twig includes are relative to phr not the source root.

The easy fix is to make the layout includes to be './footer.twig' instead of 'layouts/footer.twig' etc.

[2013-08-09 12:18] muling-tt opened #92 "Cannot create directory if file exists and returns 0"
If a file exists with the same name as a directory which is gonna be created, phrozn throws an error but then continues and exits with status code 0.

PHP Warning:  mkdir(): File exists in /home/muling/phrozn/Phrozn/Site/View/Base.php on line 134
file_put_contents(/home/muling/testsite/test/index.html): failed to open stream: No such file or directory in /home/muling/phrozn/Phrozn/Site/View/Base.p

[2013-08-20 02:13] 360weboy opened #94 "Can't run phr init"
I have installed all the files based on the installation guide and created the soft link correctly.

But, when i run the phr init in the public_html directory, the following error shown:

PHP Warning:  require_once(PEAR/Exception.php): failed to open stream: No such file or directory in /home/jack/github/phrozn/vendor/pear/console_commandline/Console/CommandLine/Exception.php on line 28
PHP Fatal

[2013-08-20 02:18] 360weboy commented on #94
Find the reason, it is due to the missing pear installed.

[2013-08-20 02:18] #94 closed, assigned to nobody

[2013-08-31 09:31] yodrew opened #95 "local server?"
Hi,

Two questions:

Does phrozn have a local server so I can see what my site is going to look like before uploading?

When I just click on the home page index.html in my file manager, I see a mostly unstyled page. Is that right?

Thanks!

[2013-08-31 10:27] Pawka commented on #95
Hi,

Local server is not required since phrozn creates static files. It is
enough just to check generated files and the result should be the same as
you'll have uploaded somewhere.

Styling should be applied too. Check your output dir if css files were
copied and if they are linked correctly on html.
On Aug 31, 2013 12:31 PM, "Andrew Durham" notifications@github.com wrote:

[2013-09-05 08:01] pierrejoye opened #96 "@variable@ not replaced when installed using composer"
hi!

1st attempt with phrozn (like to use it for windows.php.net).

Using composer for the install, the @variable@ are not replaced with their respective values.

[2013-09-05 08:37] pierrejoye commented on #96
well, investigated this problem a bit more and it looks like composer's pear support is useless.

It actually does not install anything but put the archive contents in vendor/. It should actually install them in vendor/, using the pear installer, so everything will run smoothly (variables replacements, config, include_path, etc.)

I sadly have no time to fix that or to "fix phrozn" to do not use p

[2013-09-05 08:52] farazdagi commented on #96
@pierrejoye Thanks for your suggestion. Yep, I tend to agree that we can get rid of PEAR packages in Phrozn, and provide the very same functionality either using PHP native means or some more modern 3rd party packages (like components from Symfony2 project, which are discrete and have great support by composer). Will look into it.

[2013-09-05 21:35] kenjis commented on #78
0.5.4 still requires PEAR.

[2013-09-09 13:52] brendanjohnston commented on #88
I eventually did the same. As a new user, I nearly threw in the towel.

[2013-09-23 22:54] momuskk commented on #1
In phrozn\bin directory there is phr.bat file, but it not wokr for me on Windows7. I edit this file, and put only one line to it :)
php "%~dp0phr.php" %*

I also created second file: phrozn.bat, with one line:
php "%~dp0phrozn.php" %*

Then I added full path to phrozn bin dir (for me this is: F:\xampp\phrozn\bin). Now I can type in command line simply: phr up :)

P.S. I installed phrozn in my wind

[2013-09-27 15:06] ihabunek commented on #86
I have the same problem on windows. I do not want pear installed on my machine. Any known workaround?

[2013-09-30 05:54] noquierouser commented on #76
Second to this. As I'm developing a site in Phrozn now, and need to get rid of some stuff that comes by default, after my first test generation I've done `rm -rf` many times in my destination folder to get rid of the files that won't go in the compilated project.

[2013-09-30 06:34] noquierouser opened #98 "Blog-like functionality and related variables/values"
I'm finding myself a little puzzled about the values around. Documentation mentions about the Front Matter and using those values inside an entry using the `{{ this }}` array. There's also mention about using an entry Front Matter variables in a template using `{{ entry }}` array. But there's no mention about possible values in entry beyond the ones specified in the Front Matter.

In the end, it a

[2013-11-01 03:42] haruair commented on #78
Is it fixed? I got a same warning in 0.5.4.

[code]

[2013-11-01 16:23] mikehaas763 commented on #78
Not that I'm saying console_commandline is inferior but I think it would be pretty neat to see a PR come in replacing it with Symfony/Console. Even though I haven't created a static site since about oh 8 months ago.

[2013-11-11 12:04] Pawka commented on #78
It was temporary fixed on #101. If anybody wants get rid all PEAR stuff, you are welcome :-)

[2013-11-27 06:49] Pawka opened #102 "Replace PEAR console libs with Symfony Console component"
Currently we have following console libs from PEAR:
- pear/Console_Color2
- pear/Console_Table
- pear/console_commandline

Libs can be fully replaced with Symfony [Console](https://github.com/symfony/Console) component.

PEAR libs are old and probably not maintained anymore. We should get rid of legacy code and use modern libraries instead.

[2013-12-10 02:37] cburyta commented on #90
+1 to the note that using './footer.twig' works method works currently for me also.

It's odd that the src dir needs to be prefixed with a '.', making it hidden in *nix systems by default. So +1 also to this request to remove the . prefix requirement from the src dir.

[2013-12-10 02:51] cburyta commented on #95
Alternatively, for those with PHP 5.4+, you can probably use the local php server. For example to serve a server locally that works in http://localhost:808080, try...

[code]

http://php.net/manual/en/features.commandline.webserver.php

[2014-01-02 13:58] rylabo opened #103 "default.twig in phrozn/skeleton/layouts links to Bootstrap no longer work"
This seems to depend on an older version of Bootstrap that isn't on any CDN, and the current links to the minified .css and the bootstrap .js in the default.twig file do not work. (404 errors)

[2014-01-03 07:15] Pawka commented on #103
Thanks @wasabiwimp for report, I will check.

[2014-01-04 12:41] Pawka commented on #103
Bootstrap files were added to repository. Fixed on [0.5.6](https://github.com/Pawka/phrozn/tree/0.5.6) tag.

[2014-01-04 12:41] #103 closed, assigned to nobody

[2014-01-28 16:47] brycefisher commented on #76
Does the `phr clobber` command do this for you? See http://phrozn.info/en/documentation/articles/getting-started/#project-removal

[2014-01-28 16:52] brycefisher opened #104 "Jekyll Style Includes?"
Is there a way to add includes at compile time to a layout via front matter? In Jekyll, here's how I'd go about it:

[code]

More info: http://jekyllrb.com/docs/templates/#includes

[2014-02-03 06:34] Pawka commented on #104
Hi @brycefisher

Phrozn is using Twig template engine. Syntax to include template via variable is:

[code]

For example let's add predefined variable in `config.yml` file:

[code]

You can access `config.yml` vars with `this` prefix in layout file. Use following code to include it in layout template:

[code]

More information about Twig includes on [documentation](http://twig.sensiolabs.org/doc/ta

[2014-02-03 06:34] #104 closed, assigned to nobody

[2014-03-10 07:31] mrobb opened #105 "Sample site: css and js broken on nested pages"
For example, initialize a new site, and then view the about page:

[code]

It would appear `/layouts/default.twig` needs to be changed to use absolute references instead of relative for both the styles and scripts sections.

[2014-05-16 07:02] Sgoettschkes commented on #98
I am facing the same issues. Writing blog posts as markdown is no problem, but generating the front page with, say, the last 5 blog posts, having an archive with all posts and so would be nice. Stuff like sitemap.xml and RSS would be great as well.

@Pawka Is this one goal of this project? Can we expect this to happen? Maybe this can be achieved through plugins?

[2014-05-30 14:32] dubcanada opened #106 "Code block nukes white space"
Hello,

If I run

[code]

Through PHP-MarkDown I get

[code]

Yet when I run it through Phrozn it generates

[code]

[2014-08-28 11:39] Goutte commented on #98
This can be (easily) achieved in userspace with [Content Providers](http://phrozn.info/en/documentation/providers/).

I don't know how to integrate these features directly in phrozn itself (but I think that would be nice).

[2014-09-05 22:45] fesor opened #108 "Phrozn as library"
I think it will be better to split this repo into two separate: phozn and phozn-skeleton-app (for example).

Pros:
- simplify phrozn version maintenance during projects lifetime
- allow to create projects via composer (`composer create-project pawka/phrozn-skeleton-app`)
- allow for custom installation steps via composer scripts
- move tests for phrozn from app repo.

Cons:
- Breaks BC. Maybe for

[2014-09-05 22:58] fesor opened #109 "Add dev dependencies to composer.json"
It will be great if dev dependencies (phpunit for example) will be handled by composer

[2014-10-02 10:12] tomasvts opened #110 "Twig_Error_Syntax : The filter "raw" does not exist"
If I change (https://github.com/Pawka/phrozn/blob/master/tests/Phrozn/Processor/templates/tpl1.twig) and make the a_variable to be printed as a raw variable, the test will fail with the following error:

[code]

The filter raw is native in Twig since 1.10 http://twig.sensiolabs.org/doc/filters/raw.html and I can't explain to the rest of my team why is not working.

Any ideas how to make the raw fi

[2014-10-21 12:38] lenada commented on #109
@fesor see #112

[2014-12-14 05:13] tchalvak opened #113 "Broken links and deprecated link on phrozn.info"
1. From this page: http://phrozn.info/en/documentation/articles/getting-started/  The link to the sample site is broken: http://sample.phrozn.info/
2. The footer, presumably on any page, is linking to the broken link: Wizardcat, http://wizardcat.com/eng
3. The main page http://phrozn.info/en/ links to code coverage, which is broken: http://test.phrozn.info/
4. Deprecated link: There's a link somew

[2015-06-02 00:09] samwilson commented on #108
+1

This sounds like a great idea.

[2016-06-29 17:12] #110 closed, assigned to nobody

[2019-02-06 05:10] #50 closed, assigned to nobody